/* Gerais */
* 
{
  margin: 0;
  padding: 0;
}

/* Tags padrão */
body
{
  background-color: black;
}
ul 
{
  list-style: none;
}

a
{
  text-decoration: none;
  color: red;
  font-weight: bold;
}

nav 
{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 120px;
    background-color: green;
    margin: auto;
}

footer 
{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height:105px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #1a1a1a;
  text-align: center;
}

footer ul
{
  display: flex;
  gap: 50px;
}

footer ul li
{
  display: flex;
  gap: 10px;
  align-items: center;
}

nav h1 
{
  color: white;
  scale: 1.2;
  margin: auto;
}

nav .icone
{
  justify-items: flex-start;
  align-items: flex-start;
  background-color: aqua;
}

nav ul
{
  display: flex;
  gap: 30px;
  background-color: blueviolet;
  list-style: none;
  margin-top: 80px;
  align-self: center;
}

nav ul li 
{
  padding: 15px;
  width: max-content;
}

nav ul a
{
  color: white;
  text-decoration: none;
  font-style: italic;
  border-bottom: solid red;
  border-radius: 3px;
  width: max-content;
}

nav ul a:hover
{
  color:red
}

.icone
{
  display: flex;
  flex-direction: column;
}

.content
{
  display: flex;
  gap: 30px;
  color: white;
  background-color: black;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin: auto;
}

.titulo
{
  justify-self: center;
  align-self: center;
  font-size: larger;
}

.text
{
  justify-items: left;
}

.classe_do_iframe
{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

